@media (max-width: 767px){
    div.navbar-header{
        display: inline;
        float:left;
        position: relative;
        bottom: 0;
    }
    .header-text{
        display: none;
    }
    .navbar-nav>li,.nav>li>a{
        display: inline;
        float: right;
    }
}
body {
    padding: 50px 0 0 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #222222;
}
.navbar-brand .fa {
    margin-right: .5em;
}
nav.cloud {
    background: #7AABFF;
    background: linear-gradient(top, #f2f9fe 5%, #9dcaff 100%);
    background: -webkit-linear-gradient(top, #f2f9fe 5%, #9dcaff 100%);
    margin: 0;

}
div.navbar-header.navbar-brand a{
    color: #264487;
}
ul.nav.navbar-right a:hover{
    background-color: transparent;
}
#about-me{
    position: relative;
    font-family: 'Quicksand', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 75px;
    padding-right: 16px;
    padding-bottom: 75px;
    background: #7AABFF;
    background-image: url("http://www.transparenttextures.com/patterns/french-stucco.png");
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    z-index: 10;

}
.about-me-img {
    position: relative;
    border-radius: 50%;
    float: left;
    margin-right: 2em;
    border: solid 6px white;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    z-index: 1;
}
.about-me-text h1{
    position: relative;
    background-color: #A5843F;
    background: linear-gradient(#A5843F 0%, #785a35 100%);
    border: solid #bb9744 1px;
    margin-bottom: 0;
    margin-left: 50px;
    margin-right: -16px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-transform: uppercase;
    border-top-right-radius:15px;
    box-shadow: 0 1px 5px rgba(0,0,0,.5);
    text-shadow: 1px 1px #2f211a;
    z-index: 0;
}
.about-me-text h1::after {
    content: '';
    position: absolute;
    right: 0%; top: 100%;
    z-index: -1;
    border-right: 5px solid transparent;
    border-left: 10px solid #59402c;
    border-bottom: 5px solid transparent;
    border-top: 3px solid #59402c;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);

}
.about-me-text p{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ffffff;
    background-color: #94b6f3;
    margin-left: 80px;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    box-shadow: 1px 0 5px rgba(0,0,0,.5);
    border-bottom-right-radius: 4px;
}
.about-me-text .about-me-link{
    color: #1b3044;
}
#portfolio {
    border-top:#315436 solid 4px;
    background: #826831 url("../images/cave_bg_fg.png") repeat;
    background-size: 50px 50px;
    padding-top: 125px;
    padding-bottom: 80px;
}
.ribbon {
    position: absolute;
    right: 6px; top: -7px;
    z-index: 3;
    overflow: hidden;
    width: 100px; height: 100px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold; line-height: 20px;
    transform: rotate(45deg);
    width: 110px; display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 22px; right: -21px;
}
.ribbon span::before {
    content: '';
    position: absolute;
    left: 0px; top: 100%;
    z-index: -1;
    border-left: 5px solid #79A70A;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid #79A70A;
}
.ribbon span::after {
    content: '';
    position: absolute;
    right: 0%; top: 100%;
    z-index: -1;
    border-right: 5px solid #79A70A;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid #79A70A;
}
.red span {
    right: -21px;
    background: linear-gradient(#F70505 0%, #8F0808 100%);
}
.red span::before {
    border-left-color: #8F0808; border-top-color: #8F0808;
}
.red span::after {
    border-right-color: #8F0808; border-top-color: #8F0808;
}
.badge-container {
    position: relative;
    z-index: 1;

}
.token-badge {
    position: absolute;
    display: none; /*turn display off since I did not have time to create them*/
    vertical-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

.panel{
    position:relative;
    z-index: 2;
    background: #826831 url("../images/cave_bg.png") repeat;
    border-color:#F2C25C;
    background-size: 50px 50px;

}
.panel-default > .panel-heading {
    background-color:#A5843F;
    background: linear-gradient(#A5843F 0%, #785a35 100%);
    border-color:#F2C25C;
    color:#ffffff;
    text-shadow: 1px 1px #2f211a;
}
a.list-group-item:link {
    background-color: #F2DCA8;
    border-color: #785a35;
}
a.list-group-item.disabled:link{
    color: #F2DCA8;
    background-color: #4a3830 ;
    border-color: #785a35;
}

a.list-group-item:visited, a.list-group-item.disabled:visited{
    background-color: #F2DCA8;
    border-color: #785a35;
}
a.list-group-item:hover, a.list-group-item.disabled:hover{
    color: #F2DCA8;
    background-color: #4a3830 ;
    border-color: #785a35;
}

.list-group-item span.badge-done {
    background-color: #9BC90D;
}
#sitemap {
    border-top: solid #4a3830 3px;
    padding-top: 16px;
    color: #9d9d9d;
    background: #222222;
    background-size: 50px 50px;
}
#sitemap a.footer-link {
    display:block;
}
footer .copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #783c00;
}
.modal-dialog .modal-content {
    background: #826831 url("../images/cave_bg.png") repeat;
    border-color:#F2C25C;
    background-size: 50px 50px;
    color:#ffffff;
}
.modal-dialog .modal-body {
    background-color: rgba(34, 34, 34, .7);
    margin: 5px;
    border-radius: 10px;
}
.modal-dialog .modal-header {
    background-color:#A5843F;
    background: linear-gradient(#A5843F 0%, #785a35 100%);
    border-color:#F2C25C;
    color:#ffffff;
    text-shadow: 1px 1px #2f211a;
}
.modal-dialog label, address {
    color: #F2DCA8;
}
.modal-dialog .fa {
    margin-right: 12px;
    color: #9d9d9d;
}
.modal-dialog h5 {
    font-size: larger;
    color: #F2DCA8;
}
.modal-dialog .fa.fa-cloud{
    color: #94b6f3;
}
.modal-dialog .modal-footer {

    background: linear-gradient(#4a3830 0%, #2f211a 100%);
    border-color: #785a35;
    margin-left: -19px;
    margin-right: -19px;
    margin-bottom: -19px;
    border-width: 2px;
    border-bottom-right-radius: 4px;
}
.modal-footer .btn-primary{
    background-color: #79A70A;
    border-color: #9BC90D;
}
.modal-footer .btn-primary:hover {
    background-color: #638b0a;
    border-color: #79A70A;
}